<html>

<head>
    <title>Pacman</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.8" />
    <link href="../static/css/style.css" rel="stylesheet" />
    <script src="../static/js/index.js"></script>
</head>

<body>
    <div id="mapContainer">
        <div class="titleMaps">
            <h id="Piscine">Piscine PacMan #01</h>
            <br>
            <h id="date">BY &gt; Mariam Abbas & Ruqaya Helal</h>
        </div>

        <div id="levelContainer">
            <div id="items">
                <div id="level" class="levels" onclick="ChangemapsTo(0)"></div>
                <text id="levelText" class="LevelName">Mariam</text>

                <div id="level1" class="levels" onclick="ChangemapsTo(1)"></div>
                <text id="level1Text" class="LevelName">Is</text>

                <div id="level2" class="levels" onclick="ChangemapsTo(2)"></div>
                <text id="level2Text" class="LevelName">The</text>

                <div id="level3" class="levels" onclick="ChangemapsTo(3)"></div>
                <text id="level3Text" class="LevelName">Best</text>


            </div>
            <span id="return-to-home" onclick="reternToHome()">
                << return to home </span>
        </div>


    </div>

</body>

</html>